textarea::selection,
input::selection {
  background-color: rgb(79 70 229 / 0.25);
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgb(148 163 184 / 0.5);
  border-radius: 999px;
}
